/*new footer*/
.main-footer {
    --clr-text: #f30e04;
    --clr-hover: #be1710;
}

.main-footer .footer-top{
    color:white;
    padding-top:60px;
    padding-bottom:60px;
    background-color:black !important;
}
.main-footer .footer-top p{
    color: white;
}

.main-footer .footer-top .row{
    align-items:baseline;
}

    .main-footer .footer-top button {
        background-color: var(--clr-text);
        border: none;
        padding: 8px 20px 7px;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
        .main-footer .footer-top button:hover {
            background-color: var(--clr-hover);
        }

    .main-footer .footer-top .input-group {
        display: flex;
        align-items: center;
        flex-wrap:nowrap;
    }
    .main-footer .footer-top .input-group input {
        padding: 0;
        margin: 0;
        padding: 8px 20px 4px;
        flex:1;
        background-color:transparent;
        color:white;
        min-width:120px;
    }
        .main-footer .footer-top .input-group ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: grey ;
            font-size: 16px;
            font-weight: 600;
        }
input:focus::placeholder {
    color: transparent !important;
}
       
    .main-footer .footer-top .input-group button {
        margin-left:15px;
    }

   /* .main-footer .footer-top .col-md-4:not(:last-child) {
        border-bottom: 1px solid #796c6c;
    }*/
   .footer-top .content p{
       margin-bottom:30px;
   }
    .main-footer .footer-top .col-md-4:first-child{
        padding-bottom:30px;
    }
    .main-footer .footer-top .col-md-4:not(:first-child) {
        padding-top:30px;
        padding-bottom:30px;
    }
    .main-footer .footer-top .col-md-4:last-child{
        padding-bottom: 0;
    }
    @media(max-width:767px){
        .main-footer .footer-top .col-md-4:not(:last-child) {
            border-bottom: 1px solid #4a4a4a;
        }
    }



/*bottom footer*/
.footer-bottom {
    padding: 42px 0 25px;
}
    .footer-bottom .logo-container {
        max-width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        .footer-bottom .logo-container .social-icons  {
            display:flex;
        }
        .footer-bottom .logo-container .social-icons *{
            margin-right:10px;
        }
        .footer-bottom .logo-container .social-icons a {
            color: var(--clr-text);
            font-size:20px;
        }
            .footer-bottom .logo-container .social-icons a:hover {
                color: var(--clr-hover)
            }






.footer-bottom .footer-menu-container {
    flex: 1;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-left: 30px;
}
    .footer-bottom .footer-menu-container >div h6{
       margin-bottom:20px;
       font-weight:600;
       font-size:14px;
    }
    .footer-bottom .footer-menu-container > div li {
        padding-bottom: 5px;
    }
.footer-menu-container >div{
    text-align:left;
    padding-left:15px;
    padding-right:15px;
    margin-bottom:30px;
}
    .footer-menu-container > div ul a {
        color: grey;
        font-size: 14px;
        transition:color 0.3s ease;
    }
    .footer-menu-container > div ul a:hover {
        color: var(--clr-text);
    }
.footer-bottom .menu4{
    max-width:200px;
}
.footer-bottom .menu4 p {
    margin-bottom:15px;
}
    .footer-bottom .menu4 .links{
        display:flex;
        justify-content:space-between;
        font-weight:bold;
    }
        .footer-bottom .menu4 .links a {
            color: var(--clr-text);
            font-size: 14px;
            transition: color 0.3s ease;
        }
        .footer-bottom .menu4 .links a:hover {
            color: black;
            font-size: 18px;
        }

    @media(max-width:991px){
        .footer-bottom .logo-container {
            display: flex;
            align-items:center;
            max-width:100%;
            margin-bottom:30px;
        }
        .footer-bottom .logo-container img{
            margin-bottom:35px;
          }
        .footer-bottom .footer-content{
            flex-direction:column;
        }
    }





/*copyright footer*/
.footer-copyright {
    padding: 10px 0 9px;
    border-top:1px solid #ccc;
}
.footer-copyright .container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
    .footer-copyright .copyright-text{
        min-width:130px;
    }
    .footer-copyright ul {
       flex:1;
    }
    .footer-copyright div:last-child {
        min-width:240px;
    }

    .footer-copyright *{
        font-size:12px;
    }
.footer-copyright  ul{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}
.footer-copyright ul li {
    margin-right:10px;
}
    .footer-copyright ul li a {
        white-space: nowrap;
        font-size:12px;
        color: grey;
        transition: color 0.3s ease;
    }
    .footer-copyright ul li a:hover {
       color:var(--clr-text);
    }

@media(max-width:767px){
    .footer-copyright .container{
        flex-direction:column;
    }
}